:root {
  --red: #f27406;
  --lightgray: #e6e6e6;
  --darkgray: #526d73;
  --blue: #f17a78;
  --white: #fff;
  --orange: #f2b74b;
}

@font-face {
  font-family: bodedo, sans-serif;
  src: url(https://use.typekit.net/anz5fgm.css);
};

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--orange);
  
}

main {
  padding: 5vh 5vw;

  & > :first-child {
    margin-top: 0;
  }
}

a {
  color: var(--blue);
}

/* Splash Image Home Page */
.splash {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 500px;
  height: 350px;
  box-shadow: 10px 10px lightgray;
}

@media (max-width: 600px) {
  .splash {
    width: 200px;
    height: 165px;
  }
}

.slogan {
  font-family: bodedo, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.footer {
  text-align: center;
  background-color: var(--orange);
  padding-top: 4px;
  padding-bottom: 4px;
}
