:root {
  --red: #c04;
  --lightgray: #e6e6e6;
  --darkgray: #0d1117;
  --blue: #135;
  --white: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: #e3b654;
  
}

main {
  padding: 5vh 5vw;

  & > :first-child {
    margin-top: 0;
  }
}

a {
  color: var(--blue);
}

/* Splash Image Home Page */
.splash {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 500px;
  height: 350px;
  box-shadow: 10px 10px lightgray;
}

.footer {
  text-align: center;
  background-color: #e3b654;
  padding-top: 4px;
  padding-bottom: 4px;
}

.aboutCenter {
  width: 50%;
  margin: auto;
}
