---
layout: layouts/base.njk
bodyClass: body-home
---
<!-- Delete this message -->
  <div class="slogan">
    <h3>Macadam Grinding</h3>
  </div>
  <div class="sloganTwo">
    <h4>Exploring the backroads~~~~</h4>
  </div>
    
  <img src="https://macadam-grinding-photos.s3.us-west-2.amazonaws.com/Initial+Content/Photos/gravel+riding-gravel+grinding-gravel+cyclist-bicycles-bike+riding-adventure-cyclist-beautiful+day.jpg" class="splash"/>
<!-- Stop deleting -->

{{ content | safe }}
